<body>
        <img src="assets/images/pae.jpg" width="1240px" height="600px">
        
         <img src="assets/images/aa.jpg"  class="ot" width="200px">
        <button type="button" class="btn btn-outline-light btn-lg btn-block col-lg-4 oo col-6"[routerLink]="['/visit']"><strong>Je veux être un membre</strong> </button>
        <button type="button" class="btn btn-outline-light btn-lg btn-block col-lg-4 oo col-6"[routerLink]="['/connex']"><strong>Je suis une association</strong> </button>
    
    
         
       </body>
