<body>
    <img src="assets/images/pae.jpg" width="1240px" height="1100px">
    <img src="assets/images/aa.jpg" width="150px" class="bo">
        
                       
           
<div class="bodyn">


<div id="side2" class="bodyn">Contact  <i class="fa fa-comments" aria-hidden="true"  [routerLink]="['/contact']"></i>  </div>

   
                                     
<div id="side4" class="bodyn" [routerLink]="['/annonce']">Céer Annonce     </div>    
<div id="side5" class="bodyn">Deconnexion    <i class="fa fa-power-off" aria-hidden="true"(click)="logout()" *ngIf="isloggedIn"></i> </div>                                                
</div>



<div class="post01">
    <img src="assets/images/korsi.jpg" class="IM1"   width="200px">
    <p class="kor"><strong>soufien amri</strong> <br>
        haytadhamen,ariana<br><br><br>
        mon père est vieilli, il devient handicap .<br>
        il a besoin d'une chaise roulante pour<br> se déplacer pouvez-vous m'aider svp <br>et merci d'avance

        <br><br>
       <input type="radio" name="reserver" class="ko" [routerLink]="['/reservation']"/>
       <label><strong>Réserver</strong></label> </p>
</div>

<div class="post07">
    <img src="assets/images/4.jpg" class="IM6" width="200px">
   <p class="kort"> <strong>feriel chaieb</strong>
    <br>Ariana<br>
    après le décès de ma grand-mère il<br> me reste quelques produits<br> j'aimerais bien les donner aux per<br>sonnes dans le besoin<br>

9cathèters courts avec sites d'injections<br>
5poches de recueil d'urine à robinet<br>
1sonde d'alimentation gastrique,
3perfuseurs par gravité
des compresses stériles,
2 masques à oxygéne<br>
couches pour adultes<br>
<input type="radio" name="reserver" class="ko" [routerLink]="['/reservation']"/>
<label><strong>Réserver</strong></label> </p>






</div>
<div class="post04"><img src="assets/images/orphe.jpg" alt="" width="200px" class="IM2">
   <p class="kori"> <strong>Karim Jdidi</strong><br>
    Manouba<br><br><br><br>Je suis le responsable de l'association<br>
    <strong>NAWARHOM</strong><br>qui prend en charge les enfants orphelins .<br>
    nous avons besoin de votre aide pour leur fournir des vêtements,
     des jouets et des matériels de scolarité
     <input type="radio" name="reserver" class="ko" [routerLink]="['/reservation']"/>
     <label><strong>Réserver</strong></label> </p>
</div>

<div class="post05">
    <img src="assets/images/lit.jpg" class="IM3" width="200">
 <p class="korii">  <strong>leila ben salem</strong><br>
    rades,ben arous<br><br><br><br>j'ai un enfant âgé de 4 mois .<br>les produits de bébé sont très coûteuse<br>
    et j'arrive pas parfois  à acheter  le lait et de la couche pour mon bébé celui qui peut m'aider n'hésite pas à me contacter
    <input type="radio" name="reserver" class="ko" [routerLink]="['/reservation']"/>
    <label><strong>Réserver</strong></label> </p>
</div>
<div class="post06">
    <img src="assets/images/an1.jpg" class="IM4" width="200px">
    <p class="kory">
        <strong>haifa mastouri</strong><br> tunis,tunisie<br><br><br><br><br>j'ai besoin de ce médicament urgent pour ma sœur .<br>
        on a recherché beaucoup mais malheureusement on ne l'a pas trouvé depuis 2 mois<br>  celui qui le possède merci bien de m'aider
           
        <input type="radio" name="reserver" class="ko" [routerLink]="['/reservation']"/>
        <label><strong>Réserver</strong></label> </p>
    
</div>
<div class="post03">
    <img src="assets/images/can.jpg" class="IM5" width="200px">
    <p class="koryy">
        <strong>mejda berik</strong><br> hay tahrir,tunis<br><br><br><br>ma voisine est malade de cancer <br> son mari est mort et elle a 3 enfants,<br>
        sa situation sociale est dégradée,<br> qui peut l'aider pour faire son traitement et se guérir
        <input type="radio" name="reserver" class="ko" [routerLink]="['/reservation']"/>
        <label><strong>Réserver</strong></label> </p>
</div>


</body>


